/* Landing styles */
.container { padding: 32px 24px; width: 100% }
.landing-main { width: 80%; margin: 0 auto }
.landing-greeting { font-size: 1.6rem; margin-bottom: 12px; font-weight:700 }
.card-grid { margin-top: 12px }
.container h1 { font-size: 1.8rem; margin-bottom: 8px }

